**/saved_models/*
**/data_lmdb_release/*
**/image_release/*
**/result/*
*.pth

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VIM https://github.com/github/gitignore/blob/master/Global/Vim.gitignore
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# Local virtualenv
dtrb_ocr/**
